  <div class="d-flex align-items-center h-100">
        <div class="flex-shrink-0 m-auto">
            <img src="./assets/images/coming-soon.svg" height="200">
        </div>
    </div>
  <!-- <div class="container-fluid border-top">
    <div class="row h-100">
      <div class="col-sm-12 h-100">
        <div class="container h-100">
          <div class="row justify-content-center h-100 mt-4 mb-4">
            <div class="col-sm-10 h-100">
              <div class="row align-items-center h-100">
                <div class="col-sm-12 col-lg-6 col-xl-4">
                  <div class="testimonial-cards">
                    <div class="text-quote">
                      Sometimes I think the surest sign that intelligent life exists
                      elsewhere in the universe is that none of it has tried to
                      contact us.
                    </div>
                    <div class="author">
                      <img src="./assets/images/user-image.png" alt="user" />
                      <h6>Pelican Steve <span>LittleThemes</span></h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-xl-4">
                  <div class="testimonial-cards hover">
                    <div class="text-quote">
                      I don't need to compromise on my principles, because they don't
                      have the slightest bearing on what happens to me anyway.
                    </div>
                    <div class="author">
                      <img src="./assets/images/user-image.png" alt="user" />
                      <h6>Max Conversion<span>LittleThemes</span></h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-xl-4">
                  <div class="testimonial-cards">
                    <div class="text-quote">
                      That's the problem with nature, something's always stinging you
                      or oozing mucous all over you. Let's go and watch TV.
                    </div>
                    <div class="author">
                      <img src="./assets/images/user-image.png" alt="user" />
                      <h6>Eleanor Faint<span>LittleThemes</span></h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-xl-4">
                  <div class="testimonial-cards">
                    <div class="text-quote">
                      Sometimes I think the surest sign that intelligent life exists
                      elsewhere in the universe is that none of it has tried to
                      contact us.
                    </div>
                    <div class="author">
                      <img src="./assets/images/user-image.png" alt="user" />
                      <h6>Pelican Steve <span>LittleThemes</span></h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-xl-4">
                  <div class="testimonial-cards hover">
                    <div class="text-quote">
                      I don't need to compromise on my principles, because they don't
                      have the slightest bearing on what happens to me anyway.
                    </div>
                    <div class="author">
                      <img src="./assets/images/user-image.png" alt="user" />
                      <h6>Max Conversion<span>LittleThemes</span></h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-xl-4">
                  <div class="testimonial-cards">
                    <div class="text-quote">
                      That's the problem with nature, something's always stinging you
                      or oozing mucous all over you. Let's go and watch TV.
                    </div>
                    <div class="author">
                      <img src="./assets/images/user-image.png" alt="user" />
                      <h6>Eleanor Faint<span>LittleThemes</span></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
